<form method="POST" action="/reviews">
  {{> reviews-form}}

  <p>
    <button type="submit">Save Review</button>
    <input type="button" onclick="location.href='/';" value="Cancel" />
  </p>

</form>
